.post{
   width: 100%;
}

.post-timestamp{
   font-size: 0.8em;
}

.post .post-body{
   margin: 10px var(--content-padding) 10px var(--content-padding);
   padding: 10px;

   background-color: var(--light-background-color);

   border-radius: var(--border-radius);
   box-shadow: var(--box-shadow);

   text-align: justify;
}

.post .post-body > *{
   margin: 10px;
}
